div
    .otzyvu-wrapper
      .otzyvu
        h3.text-center.text-uppercase отзывы наших клиентов
        .slider
          .otzyv-container
            .otzyv
              .rating.row
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
              div  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga harum, temporibus modi cum dolorum, vero voluptatem eaque non suscipit deleniti, molestiae quibusdam accusamus nam assumenda quaerat sed impedit adipisci voluptatum?
            .author
              p.name Сергей Андреев
              p.data 15.02.2017
          .otzyv-container
            .otzyv
              .rating.row
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
              div  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga harum, temporibus modi cum dolorum, vero voluptatem eaque non suscipit deleniti, molestiae quibusdam accusamus nam assumenda quaerat sed impedit adipisci voluptatum?
            .author
              p.name Сергей Андреев
              p.data 15.02.2017
          .otzyv-container
            .otzyv
              .rating.row
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
              div  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga harum, temporibus modi cum dolorum, vero voluptatem eaque non suscipit deleniti, molestiae quibusdam accusamus nam assumenda quaerat sed impedit adipisci voluptatum?
            .author
              p.name Сергей Андреев
              p.data 15.02.2017
        .container.text-center.see-all-wrapper
          a(href="#").see-all Прочитать все отзывы
    //- end otzyvy