//- catalog with elements
.catalog.container
    section.filter-row
        .left
            .popular.text-uppercase Популярные
            .news.text-uppercase новинки
        .right
            p с 11ч по 17ч скидка 40%
    .catalog-items
        .catalog-item
            img(src="img/s1.png", alt="")
            h4 Сет
            .count 9
            p.count 890гр. / 16 шт.
            .cart-price
                .price 1770.-
                a.btn.btn-danger(href="") В корзину
        .catalog-item
            img(src="img/s2.png", alt="")
            h4 Сет
            .count 9
            p.count 890гр. / 16 шт.
            .cart-price
                .price 1770.-
                a.btn.btn-danger(href="") В корзину
        .catalog-item
            img(src="img/s3.png", alt="")
            h4 Сет
            .count 9
            p.count 890гр. / 16 шт.
            .cart-price
                .price 1770.-
                a.btn.btn-danger(href="") В корзину
        .catalog-item
            img(src="img/s4.png", alt="")
            h4 Сет
            .count 9
            p.count 890гр. / 16 шт.
            .cart-price
                .price 1770.-
                a.btn.btn-danger(href="") В корзину
        .catalog-item
            img(src="img/s5.png", alt="")
            h4 Сет
            .count 9
            p.count 890гр. / 16 шт.
            .cart-price
                .price 1770.-
                a.btn.btn-danger(href="") В корзину
        .catalog-item
            img(src="img/s6.png", alt="")
            h4 Сет
            .count 9
            p.count 890гр. / 16 шт.
            .cart-price
                .price 1770.-
                a.btn.btn-danger(href="") В корзину
        .catalog-item
            img(src="img/s7.png", alt="")
            h4 Сет
            .count 9
            p.count 890гр. / 16 шт.
            .cart-price
                .price 1770.-
                a.btn.btn-danger(href="") В корзину
        .catalog-item
            img(src="img/s8.png", alt="")
            h4 Сет
            .count 9
            p.count 890гр. / 16 шт.
            .cart-price
                .price 1770.-
                a.btn.btn-danger(href="") В корзину
        .catalog-item
            img(src="img/s9.png", alt="")
            h4 Сет
            .count 9
            p.count 890гр. / 16 шт.
            .cart-price
                .price 1770.-
                a.btn.btn-danger(href="") В корзину
        .catalog-item
            img(src="img/s10.png", alt="")
            h4 Сет
            .count 9
            p.count 890гр. / 16 шт.
            .cart-price
                .price 1770.-
                a.btn.btn-danger(href="") В корзину