//- catalog with elements
.catalog-menu.container-fluid
    .catalog-items
        .catalog-item
            img(src="img/s1.png", alt="")
            h4 Сет
            .count 9
            p.price 890гр. / 16 шт.
            .cart-price
                .price 1770.-
                a.btn.btn-danger(href="single.html") В корзину
                .in-cart-count
                    div.minus -
                    input(type="number", value="1")
                    div.plus +
        .catalog-item
            img(src="img/s2.png", alt="")
            h4 Сет
            .count 9
            p.price 890гр. / 16 шт.
            .cart-price
                .price 1770.-
                a.btn.btn-danger(href="") В корзину
        .catalog-item
            img(src="img/s3.png", alt="")
            h4 Сет
            .count 9
            p.price 890гр. / 16 шт.
            .cart-price
                .price 1770.-
                a.btn.btn-danger(href="") В корзину
        .catalog-item
            img(src="img/s4.png", alt="")
            h4 Сет
            .count 9
            p.price 890гр. / 16 шт.
            .cart-price
                .price 1770.-
                a.btn.btn-danger(href="") В корзину
        .catalog-item
            img(src="img/s5.png", alt="")
            h4 Сет
            .count 9
            p.price 890гр. / 16 шт.
            .cart-price
                .price 1770.-
                a.btn.btn-danger(href="") В корзину
        .catalog-item
            img(src="img/s6.png", alt="")
            h4 Сет
            .count 9
            p.price 890гр. / 16 шт.
            .cart-price
                .price 1770.-
                a.btn.btn-danger(href="") В корзину
        .catalog-item
            img(src="img/s7.png", alt="")
            h4 Сет
            .count 9
            p.price 890гр. / 16 шт.
            .cart-price
                .price 1770.-
                a.btn.btn-danger(href="") В корзину
        .catalog-item
            img(src="img/s8.png", alt="")
            h4 Сет
            .count 9
            p.price 890гр. / 16 шт.
            .cart-price
                .price 1770.-
                a.btn.btn-danger(href="") В корзину
        .catalog-item
            img(src="img/s9.png", alt="")
            h4 Сет
            .count 9
            p.price 890гр. / 16 шт.
            .cart-price
                .price 1770.-
                a.btn.btn-danger(href="") В корзину
        .catalog-item
            img(src="img/s10.png", alt="")
            h4 Сет
            .count 9
            p.price 890гр. / 16 шт.
            .cart-price
                .price 1770.-
                a.btn.btn-danger(href="") В корзину