extends layouts/index-page-template.pug

block page-title
  | Главная

block content
  main
    //- hero banner
    .hero-banner.text-center
      .hero-banner-second
        img.logo(src="img/logo.png")
        h1.text-uppercase Доставка японской кухни
        p Японская кухня приготовленная
        p в лучших традициях
        a.btn.btn-danger
          p Открыть меню
    //- end hero banner

    //- props
    .props.container
      .row
        .col-md-4.delivery
          h3.text-uppercase Бесплатная доставка
          .text Закажите на 500 рублей и доставка будет бесплатной
        .col-md-4.time
          h3.text-uppercase Доставка за час
          .text Доставим ваш заказ в течении 1 часа по Казани
        .col-md-4.ingredients
          h3.text-uppercase Свежие ингредиенты
          .text Мы готовим наши блюда исключительно их свежих продуктов
    //- end props
    
    //- menu
    .menu.catalog-menu
      span.menu-row
        .menu-item.col-md-3.col-sm-6.col-xs-6.item1
          .menu-item-inner
            h4.text-uppercase Суши
            .menu-link
              a(href="#") Открыть меню
        .menu-item.col-md-3.col-sm-6.col-xs-6.item2
          .menu-item-inner
            h4.text-uppercase Ролы
            .menu-link
              a(href="#") Открыть меню
        .menu-item.col-md-3.col-sm-6.col-xs-6.item3
          .menu-item-inner
            h4.text-uppercase Салаты
            .menu-link
              a(href="#") Открыть меню
        .menu-item.col-md-3.col-sm-6.col-xs-6.item4
          .menu-item-inner
            h4.text-uppercase горячее
            .menu-link
              a(href="#") Открыть меню
        .menu-item.col-md-3.col-sm-6.col-xs-6.item5
          .menu-item-inner
            h4.text-uppercase сеты
            .menu-link
              a(href="#") Открыть меню
        .menu-item.col-md-3.col-sm-6.col-xs-6.item6
          .menu-item-inner
            h4.text-uppercase сашими
            .menu-link
              a(href="#") Открыть меню
        .menu-item.col-md-3.col-sm-6.col-xs-6.item7
          .menu-item-inner
            h4.text-uppercase сладкие ролы
            .menu-link
              a(href="#") Открыть меню
        .menu-item.col-md-3.col-sm-6.col-xs-6.item8
          .menu-item-inner
            h4.text-uppercase пицца
            .menu-link
              a(href="#") Открыть меню
        .menu-item.col-md-3.col-sm-6.col-xs-6.item9
          .menu-item-inner
            h4.text-uppercase вок лапша
            .menu-link
              a(href="#") Открыть меню
        .menu-item.col-md-3.col-sm-6.col-xs-6.item10
          .menu-item-inner 
            h4.text-uppercase детское меню
            .menu-link
              a(href="#") Открыть меню
        .menu-item.col-md-3.col-sm-6.col-xs-6.item11
          .menu-item-inner
            h4.text-uppercase десерты
            .menu-link
              a(href="#") Открыть меню
        .menu-item.col-md-3.col-sm-6.col-xs-6.item12
          .menu-item-inner
            h4.text-uppercase напитки
            .menu-link
              a(href="#") Открыть меню
    //- end menu
      
    //- catalog
    include partials/catalog.pug
    .container.text-center
      a.btn.btn-action.text-center Открыть меню полностью
    //- end catalog

    //- otzyvy
    .otzyvu-wrapper
      .otzyvu
        h3.text-center.text-uppercase отзывы наших клиентов
        .slider
          .otzyv-container
            .otzyv
              .rating.row
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
              div  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga harum, temporibus modi cum dolorum, vero voluptatem eaque non suscipit deleniti, molestiae quibusdam accusamus nam assumenda quaerat sed impedit adipisci voluptatum?
            .author
              p.name Сергей Андреев
              p.data 15.02.2017
          .otzyv-container
            .otzyv
              .rating.row
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
              div  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga harum, temporibus modi cum dolorum, vero voluptatem eaque non suscipit deleniti, molestiae quibusdam accusamus nam assumenda quaerat sed impedit adipisci voluptatum?
            .author
              p.name Сергей Андреев
              p.data 15.02.2017
          .otzyv-container
            .otzyv
              .rating.row
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
              div  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga harum, temporibus modi cum dolorum, vero voluptatem eaque non suscipit deleniti, molestiae quibusdam accusamus nam assumenda quaerat sed impedit adipisci voluptatum?
            .author
              p.name Сергей Андреев
              p.data 15.02.2017
        .container.text-center.see-all-wrapper
          a(href="#").see-all Прочитать все отзывы
  //- end otzyvy

  //- кухня
  .chiken
    .col-md-4.col-sm-6.description
      h3.text-uppercase кухня - наш приоритет
      p.text Наше разнообразное и оригинальное меню порадуют даже самых притязательных гурманов
      p.chef.text-uppercase шеф-повар эрмантраут
      a.btn.btn-action Узнать все секреты шеф-повара
  //- end кухня