extends layouts/index-page-template.pug

block page-title
  | Главная

block content
  main
    //- hero banner
    .hero-banner.text-center
      img.logo(src="img/logo.png")
      h1.text-uppercase Доставка японской кухни
      p Японская кухня приготовленная
      p в лучших традициях
      a.btn.btn-danger
        p Открыть меню
    //- end hero banner

    //- props
    .props.container
      .row
        .col-md-4.delivery
          h3.text-uppercase Бесплатная доставка
          .text Закажите на 500 рублей и доставка будет бесплатной
        .col-md-4.time
          h3.text-uppercase Доставка за час
          .text Доставим ваш заказ в течении 1 часа по Казани
        .col-md-4.ingredients
          h3.text-uppercase Свежие ингредиенты
          .text Мы готовим наши блюда исключительно их свежих продуктов
    //- end props
    
    //- menu
    .menu
      .menu-item
        .menu-item-inner
          h4.text-uppercase Суши
          .menu-link
            a(href="#") Открыть меню
      .menu-item
        .menu-item-inner
          h4.text-uppercase Ролы
          .menu-link
            a(href="#") Открыть меню
      .menu-item
        .menu-item-inner
          h4.text-uppercase Салаты
          .menu-link
            a(href="#") Открыть меню
      .menu-item
        .menu-item-inner
          h4.text-uppercase горячее
          .menu-link
            a(href="#") Открыть меню
      .menu-item
        .menu-item-inner
          h4.text-uppercase сеты
          .menu-link
            a(href="#") Открыть меню
      .menu-item
        .menu-item-inner
          h4.text-uppercase сашими
          .menu-link
            a(href="#") Открыть меню
      .menu-item
        .menu-item-inner
          h4.text-uppercase сладкие ролы
          .menu-link
            a(href="#") Открыть меню
      .menu-item
        .menu-item-inner
          h4.text-uppercase пицца
          .menu-link
            a(href="#") Открыть меню
      .menu-item
        .menu-item-inner
          h4.text-uppercase вок лапша
          .menu-link
            a(href="#") Открыть меню
      .menu-item
        .menu-item-inner 
          h4.text-uppercase детское меню
          .menu-link
            a(href="#") Открыть меню
      .menu-item
        .menu-item-inner
          h4.text-uppercase десерты
          .menu-link
            a(href="#") Открыть меню
      .menu-item
        .menu-item-inner
          h4.text-uppercase напитки
          .menu-link
            a(href="#") Открыть меню
    //- end menu
      
    //- catalog
    include partials/catalog.pug
    //- end catalog
    

