.hero-banner {
    height: 600px;
    background: url(../img/background.png);
    .hero-banner-second {
        padding-top: 10%;
        width: 100%;
        height: 100%;
        background: url(../img/hero-slider-second.png);
    }
    h1,
    p {
        color: #fff;
    }
    h1 {
        font-size: 2.5rem;
        margin-top: 15px;
        margin-bottom: 1rem;
    }
    p {
        font-size: 1.7rem;
        font-weight: 300;
        line-height: 2rem;
    }
    a.btn.btn-danger {
        margin-top: 1rem;
        background: @red;
        padding: 5px 20px;
        padding-left: 35px;
        p {
            font-size: 0.9rem;
            font-family: 'Open Sans';
            &:before {
                content: '';
                background: url(../img/menu.png) no-repeat;
                width: 25px;
                height: 25px;
                position: absolute;
                margin-left: -23px;
                margin-top: 6px;
            }
        }
    }
}

.props {
    padding: 70px 50px;
    .row {
        .delivery,
        .time,
        .ingredients {
            position: relative; // padding: 10px;
            margin-bottom: 2rem;
        }
        .delivery {
            padding-right: 40px;
            &:before {
                content: '';
                background: url(../img/delivery-truck.png) no-repeat;
                width: 80px;
                height: 55px;
                position: absolute;
                margin-left: -83px;
                margin-top: 6px;
            }
        }
        .time {
            padding-left: 20px;
            &:before {
                content: '';
                background: url(../img/stopwatch.png) no-repeat;
                width: 80px;
                height: 65px;
                position: absolute;
                margin-left: -63px;
                margin-top: 6px;
            }
        }
        .ingredients {
            padding-left: 20px;
            &:before {
                content: '';
                background: url(../img/salmon.png) no-repeat;
                width: 80px;
                height: 55px;
                position: absolute;
                margin-left: -63px;
                margin-top: 6px;
            }
        }
    }
}

div.menu {
    // margin-bottom: 1rem;
    height: auto;
    &.catalog-menu {
        .menu-row {
            .menu-item {
                text-align: center;
                height: 350px;
                transition: 0.4s all ease;
                &.item1 {
                    background: url('../img/item1.png');
                }
                &.item2 {
                    background: url('../img/item2.png');
                }
                &.item3 {
                    background: url('../img/item3.png');
                }
                &.item4 {
                    background: url('../img/item4.png');
                }
                &.item5 {
                    background: url('../img/item2.png');
                }
                &.item6 {
                    background: url('../img/item6.png');
                }
                &.item7 {
                    background: url('../img/item7.png');
                }
                &.item8 {
                    background: url('../img/item8.png');
                }
                &.item9 {
                    background: url('../img/item9.png');
                }
                &.item10 {
                    background: url('../img/item10.png');
                }
                &.item11 {
                    background: url('../img/item11.png');
                }
                &.item12 {
                    background: url('../img/item12.png');
                }
                &:hover {
                    .menu-item-inner {
                        border-color: #fff !important;
                    }
                }
                .menu-item-inner {
                    border: 1px solid transparent;
                    margin: 25px 15px;
                    padding: 15px;
                    height: 350px - 25px - 25px;
                    position: relative;
                    z-index: 999;
                    h4,
                    a {
                        color: #fff;
                        font-family: 'Open Sans';
                    }
                    h4 {
                        margin-top: 80px;
                        font-size: 2.3rem;
                    }
                    &:hover {
                        border-color: #fff !important;
                    }
                    .menu-link {
                        position: absolute;
                        bottom: 10px;
                        text-align: center;
                        margin: 0 auto;
                        width: 100%;
                        a {
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

.btn.btn-action{
    position: relative;
    color: @red;
    border: 1px solid @red;
    transition: 0.3s all ease;
    margin: 2rem auto;
    text-align: center;
    padding: 7px 25px;
    font-size: 16px;
    &:hover{
        color: #fff;
        background: @red;
    }
}