.hero-banner {
    height: 600px;
    background: url(../img/background.png);
    .hero-banner-second {
        padding-top: 10%;
        width: 100%;
        height: 100%;
        background: url(../img/hero-slider-second.png);
    }
    h1,
    p {
        color: #fff;
    }
    h1 {
        font-size: 2.5rem;
        margin-top: 15px;
        margin-bottom: 1rem;
    }
    p {
        font-size: 1.7rem;
        font-weight: 300;
        line-height: 2rem;
    }
    a.btn.btn-danger {
        margin-top: 1rem;
        background: @red;
        padding: 5px 20px;
        padding-left: 35px;
        p {
            font-size: 0.9rem;
            font-family: 'Open Sans';
            &:before {
                content: '';
                background: url(../img/menu.png) no-repeat;
                width: 25px;
                height: 25px;
                position: absolute;
                margin-left: -23px;
                margin-top: 6px;
            }
        }
    }
}

.props {
    padding: 70px 50px;
    .row {
        .delivery,
        .time,
        .ingredients {
            position: relative;
            // padding: 10px;
        }
        .delivery {
            padding-right: 40px;
            &:before {
                content: '';
                background: url(../img/delivery-truck.png) no-repeat;
                width: 80px;
                height: 55px;
                position: absolute;
                margin-left: -83px;
                margin-top: 6px;
            }
        }
        .time {
            padding-left: 20px;
            &:before {
                content: '';
                background: url(../img/stopwatch.png) no-repeat;
                width: 80px;
                height: 65px;
                position: absolute;
                margin-left: -63px;
                margin-top: 6px;
            }
        }.ingredients {
            padding-left: 20px;
            &:before {
                content: '';
                background: url(../img/salmon.png) no-repeat;
                width: 80px;
                height: 55px;
                position: absolute;
                margin-left: -63px;
                margin-top: 6px;
            }
        }
    }
}