//colors
@blue: #4A7DBC;
@black: #151616;
@yellow: #F8E71C;
@btn-yellow: #FFCC2D;
@gray: #506174;
@red: #FF0000;
@gray-light: #EFEFEF;
@gray-border: #DBDBDB;
@green: #43B05C;
@green-text: #5CB000;
@lime: #4AC300;
@yellow-dark: #FFD000;
@blue-dark: #26323F;
@green-success: #7ED321;

/**
* mixins
*/
 .box-shadow {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}

.transition {
    transition: 0.3s all ease;
}