footer.footer
  .container
    .logo
      img(src="img/mushu-logo2.png")
    .socials
      p Мы в соц. сетях
      .row
        img(src="img/instagram.png", alt="")
        img(src="img/instagram.png", alt="")
        img(src="img/instagram.png", alt="")

  script(src='js/bootstrap.min.js')